.logo.sycamore:hover {
  filter: drop-shadow(0 0 2em #f8b94c);
}
:root {
  font-family: BigBlueTermPlus Nerd Font Mono;
  font-size: 16px;
  /* line-height: 24px; */
  font-weight: 200;

  color: #f6f6f6;
  background:
    conic-gradient(
        transparent 25%,
        #a670db 0 50%,
        transparent 0 75%,
        #8456b1 0
      )
      0 / 4em 4em,
    repeating-conic-gradient(hsl(270, 60%, 65%) 0 25%, #8456b1 0 50%) 0 / 0.5em
      0.5em;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}

body, html {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}


.container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
}

.welcome {
  /* height: 40vh; */
  width: 20vw;
  background-color: #6d23b7;
  padding: 30px;
  border: solid 1px black;
  border-radius: 5px;
  box-shadow: 0px 10px #4d0776, 0px 11px black, 0px 0px 10px rgba(0, 0, 0, 0.416);
}

.screen{
  background: #300449;
  background: linear-gradient(
    135deg,
    #121212 25%,
    #1a1a1a 25%,
    #1a1a1a 50%,
    #121212 50%,
    #121212 75%,
    #1a1a1a 75%,
    #1a1a1a
  );
  background-size: 40px 40px;
  animation: move 4s linear infinite;

  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  border: 10px solid #8d3edd;
  border-radius: 3px;
  box-shadow: 0px 5px #300449, rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  line-height: 1px;

  overflow-x: auto;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 40px;
  }
}

.buttons {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  gap: 10px;
  align-items: center;
  padding: 10px;
  margin-top: 5%;
  width: calc(100%-10px);
  box-sizing: border-box;
}

.usable_btn{
  border-radius: 3px;
  padding: 5px;
  border: 1px solid black;
  margin: 2px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0fb8;
  background-color: #8f51cd;
  box-shadow: 0px 3px rgba(0, 0, 0, 0.762), 0px 5px 5px rgba(0, 0, 0, 0.356);
  transform: translateY(-3px);
  cursor: pointer;
}

.savectr{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.save-item {
  display: flex;
  flex-direction: column; 
  align-items: end;
  justify-content: center;
  
  background-color: #f0f0f0;
  color: #333;
  font-weight: 800;
  font-size: 20px;
  font-family: Adwaita Mono;
  background-image: linear-gradient(
      90deg,
      transparent 50px,
      #ffb4b8 50px,
      #ffb4b8 52px,
      transparent 52px
    ),
    linear-gradient(#e1e1e1 0.1em, transparent 0.1em);
  background-size: 80% 10px;
  
  width: 100px;
  height: 120px;
  padding: 10px;
  border-radius: 5px;
  
  border: 1px solid #000000;
  box-shadow: 0px 3px rgb(88, 88, 88), 0px 4px black;
  transition: transform 0.1s, background-color 0.2s;
  cursor: pointer;
  overflow: hidden; 
}

.save-input {
  all: unset;
  font-family: Adwaita Mono;
  font-style: italic;
  text-align: start;
  background-color: transparent;
  padding: 10px;
  font-size: 20px;
  color: white;
  border: 1px solid white;
  margin-top: auto;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.animate-file {
  animation: shake 0.3s ease-out forwards;
}

h1 {
  text-align: center;
}

button {
  all:unset;
  border-radius: 3px;
  padding: 5px;
  border: 1px solid black;
  margin: 2px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f8a;
  background-color: #6d3d9d;
  box-shadow: 0px -3px rgba(0, 0, 0, 0.762);
  cursor: not-allowed;
}

.template {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

select {
  /* all: unset; */
  height: 30px;
  width: auto;
  background-color: #000000;
  margin-bottom: 30px;
}

#nav_r{
  grid-column: 3;
}

.save_btn{
  grid-column: 2;
  justify-self: center;
}

#nav_l{
  grid-column: 1;
}

.hiddden {
  display: none;
}


.usable_btn:active {
  border-radius: 3px;
  padding: 5px;
  border: 1px solid black;
  margin: 2px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f8a;
  background-color: #6d3d9d;
  box-shadow: 0px -3px rgba(0, 0, 0, 0.841);
  transform: translateY(1px);
}

.footer {
  align-items: center;
  height: 40vh;
  background-color: #300449;
  padding-top: 4%;
  padding-left: 4%;
  font-size: 30px;
  font-family: Adwaita Mono;
}

::-webkit-scrollbar {
  width: 0px;
}

.end {
  margin-top: 1vh;
  font-size: 12px;
  color: rgb(188, 188, 188);
}

a{
  color: white;
  text-decoration: none;
}

a:hover {
  background-color: white;
  color: black;
  font-style: italic;
}


.context-menu {
  position: fixed;
  background: #222;
  border: 1px solid #444;
  border-radius: 1px;
  width: 150px;
  z-index: 1000;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}

.menu-item {
  padding: 10px;
  cursor: pointer;
  color: white;
  font-size: 14px;
}

.menu-item:hover {
  background: crimson;
}

